<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title>Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />
    <link href="/css/dash.css" rel="stylesheet">
    <script>
        let user = JSON.parse(sessionStorage.getItem("user"))
    </script>
</head>

<body>
    <section>
        <div class="section-blog-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12">
                        <img id="image" src="/images/pavan.jpg">
                        <h1 id="name"></h1>
                        <button onclick="openCommonRoom()">Join room</button>
                        <button id="request" onclick="openRequestForm();">Request food</button>
                        <button id="cancel" style="display: none; width: fit-content;"
                            onclick="cancelFoodRequest()">Cancel
                            Food
                            Request</button>
                        <button>Oxygen Supply</button>
                    </div>
                </div>
            </div>
        </div>

        <header>
            <div class="container">
                <div class="tabs">
                    <a role="button" class="active" onclick="openTab(event,'tab1');" tabindex="0">Public reuests</a>
                    <a role="button" onclick="openTab(event,'tab2');" tabindex="0">Accepted Requests</a>
                </div>
            </div>
        </header>

        <div class="tabcontent container" id="tab1">
            <div class="section-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-sm-12">
                            <div class="articles">

                                <% for( let index=0; index < foodRequests.length; index++ ) { %>
                                    <h2 style="display:none;" id=<%=foodRequests[index].email%> >
                                        <%= foodRequests[index].uid %>
                                    </h2>
                                    <div id="<%= foodRequests[index].uid %>" class="article">
                                        <div class="inner">
                                            <div class="post-head">
                                                <h2>
                                                    <%= foodRequests[index].displayName %>
                                                </h2>
                                                <h4>
                                                    Request Date :
                                                    <%= foodRequests[index].date.substring(8, 10) + "/" +
                                                        foodRequests[index].date.substring(5, 7) + "/" +
                                                        foodRequests[index].date.substring(0, 4) %>
                                                </h4>
                                            </div>
                                            <p>
                                                Email : <%= foodRequests[index].email %>
                                            </p>
                                            <p>
                                                Phone : <%= foodRequests[index].phoneNo %>
                                            </p>
                                            <p>
                                                <%= foodRequests[index].address %>
                                            </p>
                                            <button onclick="acceptFoodRequest('<%= foodRequests[index].uid %>')"
                                                style="float: right; margin: 10px;">Accept
                                                Request</button>

                                            <script>
                                                function acceptFoodRequest(uid) {
                                                    window.location.href = "/food/accepted/" + user.uid + "/" + uid
                                                }
                                            </script>
                                        </div>
                                    </div>
                                    <% } %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tabcontent container" id="tab2">
            <div class="section-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-sm-12">
                            <div class="articles">

                                <% if (foodAcceptRequests!="" ) { %>
                                    <div class="article">
                                        <div class="inner">
                                            <div class="post-head">
                                                <h2>
                                                    <%= foodAcceptRequests.displayName %>
                                                </h2>
                                                <h4>
                                                    Request Date :
                                                    <%= foodAcceptRequests.date.substring(8, 10) + "/" +
                                                        foodAcceptRequests.date.substring(5, 7) + "/" +
                                                        foodAcceptRequests.date.substring(0, 4) %>
                                                </h4>
                                            </div>
                                            <p>
                                                Email : <%= foodAcceptRequests.email %>
                                            </p>
                                            <p>
                                                Phone : <%= foodAcceptRequests.phoneNo %>
                                            </p>
                                            <p>
                                                <%= foodAcceptRequests.address %>
                                            </p>
                                        </div>
                                    </div>
                                    <% } %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="popup-overlay">
        <div class="popup">
            <div class="popup-close" onclick="RemoveRequestForm();">
                &times;
            </div>
            <form method="POST" action="/food" class="form">
                <div class="avatar"><img src="/images/Logobfg.png"> </div>

                <div class="header">
                    <h1>Make Things Happen</h1>
                </div>
                <input id="uidForm" name="uid" type="text" class="input" style="display: none;" readonly>
                <div class="inputfield">
                    <label>Name</label>
                    <input id="displayName" name="displayName" type="text" class="input" readonly>
                </div>
                <div class="inputfield" style="display: none;">
                    <label>Email Address</label>
                    <input id="email" name="email" type="text" class="input">
                </div>
                <div class="inputfield">
                    <label>Phone Number</label>
                    <input name="phoneNo" type="text" class="input" required>
                </div>
                <div class="inputfield">
                    <label>Address</label>
                    <textarea name="address" class="textarea" required></textarea>
                </div>
                <div class="inputfield">
                    <input type="submit" value="Register" class="btn">
                </div>

            </form>
        </div>
    </div>
    </div>
</body>

<script>
    if (user == null) {
        window.location.href = "/"
    } else {
        document.getElementById("name").innerText = user.displayName
        document.getElementById("image").src = user.photoURL
    }

    if (window.location.pathname == "/dashboard/" || window.location.pathname == "/dashboard") {
        window.location.href = "/dashboard/" + user.uid
    }

    try {
        const userID = document.getElementById(user.email).innerText.trim()
        if (userID == user.uid.trim()) {
            document.getElementById(userID).style.display = "none"
            document.getElementById("request").style.display = "none"
            document.getElementById("cancel").style.display = ""
        }
    } catch {
        console.log(user.email)
    }

    function cancelFoodRequest() {
        window.location.href = "/food/delete/" + user.uid
    }

    function openCommonRoom() {
        window.location.href = "/meet/common"
    }

    function openRequestForm() {
        document.body.classList.add("showLoginForm")
    }

    function RemoveRequestForm() {
        document.body.classList.remove("showLoginForm")
    }

    document.getElementById("uidForm").value = user.uid
    document.getElementById("displayName").value = user.displayName
    document.getElementById("email").value = user.email

    const tabcontents = document.querySelectorAll(".tabcontent");
    const tablinks = document.querySelectorAll(".tabs a");

    function openTab(event, tabName) {
        tabcontents.forEach((tabcontent) => (tabcontent.style.display = "none"));
        tablinks.forEach((tablink) => tablink.classList.remove('active'));



        event.currentTarget.classList.add("active");
        document.getElementById(tabName).style.display = "block";
    }

</script>

</html>
